<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.order.mapper.OmsOrderOperateHistoryMapper">
    
    <resultMap type="OmsOrderOperateHistory" id="OmsOrderOperateHistoryResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="note"    column="note"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOmsOrderOperateHistoryVo">
        select id, order_id, order_status, note, create_by, update_by, create_time, update_time from oms_order_operate_history
    </sql>

    <select id="selectOmsOrderOperateHistoryList" parameterType="OmsOrderOperateHistory" resultMap="OmsOrderOperateHistoryResult">
        <include refid="selectOmsOrderOperateHistoryVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
        </where>
    </select>

</mapper>