<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.order.mapper.OmsOrderSettingMapper">
    
    <resultMap type="OmsOrderSetting" id="OmsOrderSettingResult">
        <result property="id"    column="id"    />
        <result property="flashOrderOvertime"    column="flash_order_overtime"    />
        <result property="normalOrderOvertime"    column="normal_order_overtime"    />
        <result property="confirmOvertime"    column="confirm_overtime"    />
        <result property="finishOvertime"    column="finish_overtime"    />
        <result property="commentOvertime"    column="comment_overtime"    />
        <result property="memberLevel"    column="member_level"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOmsOrderSettingVo">
        select id, flash_order_overtime, normal_order_overtime, confirm_overtime, finish_overtime, comment_overtime, member_level, create_by, update_by, create_time, update_time from oms_order_setting
    </sql>

    <select id="selectOmsOrderSettingList" parameterType="OmsOrderSetting" resultMap="OmsOrderSettingResult">
        <include refid="selectOmsOrderSettingVo"/>
        <where>  
            <if test="flashOrderOvertime != null "> and flash_order_overtime = #{flashOrderOvertime}</if>
            <if test="normalOrderOvertime != null "> and normal_order_overtime = #{normalOrderOvertime}</if>
            <if test="confirmOvertime != null "> and confirm_overtime = #{confirmOvertime}</if>
            <if test="finishOvertime != null "> and finish_overtime = #{finishOvertime}</if>
            <if test="commentOvertime != null "> and comment_overtime = #{commentOvertime}</if>
            <if test="memberLevel != null "> and member_level = #{memberLevel}</if>
        </where>
    </select>

</mapper>