<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.order.mapper.OmsPaymentInfoMapper">

    <resultMap type="OmsPaymentInfo" id="OmsPaymentInfoResult">
        <result property="id" column="id"/>
        <result property="orderSn" column="order_sn"/>
        <result property="orderId" column="order_id"/>
        <result property="alipayTradeNo" column="alipay_trade_no"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="subject" column="subject"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="createTime" column="create_time"/>
        <result property="confirmTime" column="confirm_time"/>
        <result property="callbackContent" column="callback_content"/>
        <result property="callbackTime" column="callback_time"/>
    </resultMap>

    <sql id="selectOmsPaymentInfoVo">
        select id,
               order_sn,
               order_id,
               alipay_trade_no,
               total_amount,
               subject,
               payment_status,
               create_time,
               confirm_time,
               callback_content,
               callback_time
        from oms_payment_info
    </sql>

    <select id="selectOmsPaymentInfoList" parameterType="OmsPaymentInfo" resultMap="OmsPaymentInfoResult">
        <include refid="selectOmsPaymentInfoVo"/>
        <where>
            <if test="orderSn != null  and orderSn != ''">and order_sn = #{orderSn}</if>
            <if test="orderId != null ">and order_id = #{orderId}</if>
            <if test="alipayTradeNo != null  and alipayTradeNo != ''">and alipay_trade_no = #{alipayTradeNo}</if>
            <if test="totalAmount != null ">and total_amount = #{totalAmount}</if>
            <if test="subject != null  and subject != ''">and subject = #{subject}</if>
            <if test="paymentStatus != null  and paymentStatus != ''">and payment_status = #{paymentStatus}</if>
            <if test="confirmTime != null ">and confirm_time = #{confirmTime}</if>
            <if test="callbackContent != null  and callbackContent != ''">and callback_content = #{callbackContent}</if>
            <if test="callbackTime != null ">and callback_time = #{callbackTime}</if>
        </where>
    </select>


</mapper>