<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.order.mapper.OmsRefundInfoMapper">

    <resultMap type="OmsRefundInfo" id="OmsRefundInfoResult">
        <result property="id" column="id"/>
        <result property="orderReturnId" column="order_return_id"/>
        <result property="refund" column="refund"/>
        <result property="refundSn" column="refund_sn"/>
        <result property="refundStatus" column="refund_status"/>
        <result property="refundChannel" column="refund_channel"/>
        <result property="refundContent" column="refund_content"/>
    </resultMap>

    <sql id="selectOmsRefundInfoVo">
        select id, order_return_id, refund, refund_sn, refund_status, refund_channel, refund_content
        from oms_refund_info
    </sql>

    <select id="selectOmsRefundInfoList" parameterType="OmsRefundInfo" resultMap="OmsRefundInfoResult">
        <include refid="selectOmsRefundInfoVo"/>
        <where>
            <if test="orderReturnId != null ">and order_return_id = #{orderReturnId}</if>
            <if test="refund != null ">and refund = #{refund}</if>
            <if test="refundSn != null  and refundSn != ''">and refund_sn = #{refundSn}</if>
            <if test="refundStatus != null ">and refund_status = #{refundStatus}</if>
            <if test="refundChannel != null ">and refund_channel = #{refundChannel}</if>
            <if test="refundContent != null  and refundContent != ''">and refund_content = #{refundContent}</if>
        </where>
    </select>


</mapper>