<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsCouponSpuRelationMapper">
    
    <resultMap type="AmsCouponSpuRelation" id="AmsCouponSpuRelationResult">
        <result property="id"    column="id"    />
        <result property="couponId"    column="coupon_id"    />
        <result property="spuId"    column="spu_id"    />
        <result property="spuName"    column="spu_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAmsCouponSpuRelationVo">
        select id, coupon_id, spu_id, spu_name, create_by, update_by, create_time, update_time from ams_coupon_spu_relation
    </sql>

    <select id="selectAmsCouponSpuRelationList" parameterType="AmsCouponSpuRelation" resultMap="AmsCouponSpuRelationResult">
        <include refid="selectAmsCouponSpuRelationVo"/>
        <where>  
            <if test="couponId != null "> and coupon_id = #{couponId}</if>
            <if test="spuId != null "> and spu_id = #{spuId}</if>
            <if test="spuName != null  and spuName != ''"> and spu_name like concat('%', #{spuName}, '%')</if>
        </where>
    </select>
    
    <select id="selectAmsCouponSpuRelationById" parameterType="Long" resultMap="AmsCouponSpuRelationResult">
        <include refid="selectAmsCouponSpuRelationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAmsCouponSpuRelation" parameterType="AmsCouponSpuRelation" useGeneratedKeys="true" keyProperty="id">
        insert into ams_coupon_spu_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponId != null">coupon_id,</if>
            <if test="spuId != null">spu_id,</if>
            <if test="spuName != null">spu_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponId != null">#{couponId},</if>
            <if test="spuId != null">#{spuId},</if>
            <if test="spuName != null">#{spuName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAmsCouponSpuRelation" parameterType="AmsCouponSpuRelation">
        update ams_coupon_spu_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="spuName != null">spu_name = #{spuName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsCouponSpuRelationById" parameterType="Long">
        delete from ams_coupon_spu_relation where id = #{id}
    </delete>

    <delete id="deleteAmsCouponSpuRelationByIds" parameterType="String">
        delete from ams_coupon_spu_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>