<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsHomeSubjectMapper">
    
    <resultMap type="AmsHomeSubject" id="AmsHomeSubjectResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="title"    column="title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="status"    column="status"    />
        <result property="url"    column="url"    />
        <result property="sort"    column="sort"    />
        <result property="img"    column="img"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAmsHomeSubjectVo">
        select id, name, title, sub_title, status, url, sort, img, create_by, update_by, create_time, update_time from ams_home_subject
    </sql>

    <select id="selectAmsHomeSubjectList" parameterType="AmsHomeSubject" resultMap="AmsHomeSubjectResult">
        <include refid="selectAmsHomeSubjectVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="subTitle != null  and subTitle != ''"> and sub_title = #{subTitle}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>
    
    <select id="selectAmsHomeSubjectById" parameterType="Long" resultMap="AmsHomeSubjectResult">
        <include refid="selectAmsHomeSubjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAmsHomeSubject" parameterType="AmsHomeSubject" useGeneratedKeys="true" keyProperty="id">
        insert into ams_home_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="title != null">title,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="status != null">status,</if>
            <if test="url != null">url,</if>
            <if test="sort != null">sort,</if>
            <if test="img != null">img,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="title != null">#{title},</if>
            <if test="subTitle != null">#{subTitle},</if>
            <if test="status != null">#{status},</if>
            <if test="url != null">#{url},</if>
            <if test="sort != null">#{sort},</if>
            <if test="img != null">#{img},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAmsHomeSubject" parameterType="AmsHomeSubject">
        update ams_home_subject
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="title != null">title = #{title},</if>
            <if test="subTitle != null">sub_title = #{subTitle},</if>
            <if test="status != null">status = #{status},</if>
            <if test="url != null">url = #{url},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="img != null">img = #{img},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsHomeSubjectById" parameterType="Long">
        delete from ams_home_subject where id = #{id}
    </delete>

    <delete id="deleteAmsHomeSubjectByIds" parameterType="String">
        delete from ams_home_subject where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>