<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsHomeAdvertMapper">
    
    <resultMap type="AmsHomeAdvert" id="AmsHomeAdvertResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="pic"    column="pic"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="clickCount"    column="click_count"    />
        <result property="url"    column="url"    />
        <result property="note"    column="note"    />
        <result property="sort"    column="sort"    />
        <result property="publisherId"    column="publisher_id"    />
        <result property="authId"    column="auth_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAmsHomeAdvertVo">
        select id, name, pic, start_time, end_time, status, click_count, url, note, sort, publisher_id, auth_id, create_by, update_by, create_time, update_time from ams_home_advert
    </sql>

    <select id="selectAmsHomeAdvertList" parameterType="AmsHomeAdvert" resultMap="AmsHomeAdvertResult">
        <include refid="selectAmsHomeAdvertVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="clickCount != null "> and click_count = #{clickCount}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="publisherId != null "> and publisher_id = #{publisherId}</if>
            <if test="authId != null "> and auth_id = #{authId}</if>
        </where>
    </select>
    
    <select id="selectAmsHomeAdvertById" parameterType="Long" resultMap="AmsHomeAdvertResult">
        <include refid="selectAmsHomeAdvertVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAmsHomeAdvert" parameterType="AmsHomeAdvert" useGeneratedKeys="true" keyProperty="id">
        insert into ams_home_advert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="pic != null">pic,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="clickCount != null">click_count,</if>
            <if test="url != null">url,</if>
            <if test="note != null">note,</if>
            <if test="sort != null">sort,</if>
            <if test="publisherId != null">publisher_id,</if>
            <if test="authId != null">auth_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="pic != null">#{pic},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="clickCount != null">#{clickCount},</if>
            <if test="url != null">#{url},</if>
            <if test="note != null">#{note},</if>
            <if test="sort != null">#{sort},</if>
            <if test="publisherId != null">#{publisherId},</if>
            <if test="authId != null">#{authId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAmsHomeAdvert" parameterType="AmsHomeAdvert">
        update ams_home_advert
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="clickCount != null">click_count = #{clickCount},</if>
            <if test="url != null">url = #{url},</if>
            <if test="note != null">note = #{note},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="publisherId != null">publisher_id = #{publisherId},</if>
            <if test="authId != null">auth_id = #{authId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsHomeAdvertById" parameterType="Long">
        delete from ams_home_advert where id = #{id}
    </delete>

    <delete id="deleteAmsHomeAdvertByIds" parameterType="String">
        delete from ams_home_advert where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>