<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsMemberPriceMapper">

    <resultMap type="AmsMemberPrice" id="AmsMemberPriceResult">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="memberLevelId" column="member_level_id"/>
        <result property="memberLevelName" column="member_level_name"/>
        <result property="memberPrice" column="member_price"/>
        <result property="addOther" column="add_other"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAmsMemberPriceVo">
        select id,
               sku_id,
               member_level_id,
               member_level_name,
               member_price,
               add_other,
               create_by,
               update_by,
               create_time,
               update_time
        from ams_member_price
    </sql>

    <select id="selectAmsMemberPriceList" parameterType="AmsMemberPrice" resultMap="AmsMemberPriceResult">
        <include refid="selectAmsMemberPriceVo"/>
        <where>
            <if test="skuId != null ">and sku_id = #{skuId}</if>
            <if test="memberLevelId != null ">and member_level_id = #{memberLevelId}</if>
            <if test="memberLevelName != null  and memberLevelName != ''">and member_level_name like concat('%',
                #{memberLevelName}, '%')
            </if>
            <if test="memberPrice != null ">and member_price = #{memberPrice}</if>
            <if test="addOther != null ">and add_other = #{addOther}</if>
        </where>
    </select>

    <select id="selectAmsMemberPriceById" parameterType="Long" resultMap="AmsMemberPriceResult">
        <include refid="selectAmsMemberPriceVo"/>
        where id = #{id}
    </select>

    <insert id="insertAmsMemberPrice" parameterType="AmsMemberPrice" useGeneratedKeys="true" keyProperty="id">
        insert into ams_member_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="memberLevelId != null">member_level_id,</if>
            <if test="memberLevelName != null">member_level_name,</if>
            <if test="memberPrice != null">member_price,</if>
            <if test="addOther != null">add_other,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="memberLevelId != null">#{memberLevelId},</if>
            <if test="memberLevelName != null">#{memberLevelName},</if>
            <if test="memberPrice != null">#{memberPrice},</if>
            <if test="addOther != null">#{addOther},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateAmsMemberPrice" parameterType="AmsMemberPrice">
        update ams_member_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="memberLevelId != null">member_level_id = #{memberLevelId},</if>
            <if test="memberLevelName != null">member_level_name = #{memberLevelName},</if>
            <if test="memberPrice != null">member_price = #{memberPrice},</if>
            <if test="addOther != null">add_other = #{addOther},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsMemberPriceById" parameterType="Long">
        delete
        from ams_member_price
        where id = #{id}
    </delete>

    <delete id="deleteAmsMemberPriceByIds" parameterType="String">
        delete from ams_member_price where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>