<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsSpuBoundsMapper">

    <resultMap type="AmsSpuBounds" id="AmsSpuBoundsResult">
        <result property="id" column="id"/>
        <result property="spuId" column="spu_id"/>
        <result property="growBounds" column="grow_bounds"/>
        <result property="buyBounds" column="buy_bounds"/>
        <result property="work" column="work"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAmsSpuBoundsVo">
        select id, spu_id, grow_bounds, buy_bounds, work, create_by, update_by, create_time, update_time
        from ams_spu_bounds
    </sql>

    <select id="selectAmsSpuBoundsList" parameterType="AmsSpuBounds" resultMap="AmsSpuBoundsResult">
        <include refid="selectAmsSpuBoundsVo"/>
        <where>
            <if test="spuId != null ">and spu_id = #{spuId}</if>
            <if test="growBounds != null ">and grow_bounds = #{growBounds}</if>
            <if test="buyBounds != null ">and buy_bounds = #{buyBounds}</if>
            <if test="work != null ">and work = #{work}</if>
        </where>
    </select>

    <select id="selectAmsSpuBoundsById" parameterType="Long" resultMap="AmsSpuBoundsResult">
        <include refid="selectAmsSpuBoundsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAmsSpuBounds" parameterType="AmsSpuBounds" useGeneratedKeys="true" keyProperty="id">
        insert into ams_spu_bounds
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="growBounds != null">grow_bounds,</if>
            <if test="buyBounds != null">buy_bounds,</if>
            <if test="work != null">work,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId},</if>
            <if test="growBounds != null">#{growBounds},</if>
            <if test="buyBounds != null">#{buyBounds},</if>
            <if test="work != null">#{work},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateAmsSpuBounds" parameterType="AmsSpuBounds">
        update ams_spu_bounds
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="growBounds != null">grow_bounds = #{growBounds},</if>
            <if test="buyBounds != null">buy_bounds = #{buyBounds},</if>
            <if test="work != null">work = #{work},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsSpuBoundsById" parameterType="Long">
        delete
        from ams_spu_bounds
        where id = #{id}
    </delete>

    <delete id="deleteAmsSpuBoundsByIds" parameterType="String">
        delete from ams_spu_bounds where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>