<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.activity.mapper.AmsSeckillSkuRelationMapper">
    
    <resultMap type="AmsSeckillSkuRelation" id="AmsSeckillSkuRelationResult">
        <result property="id"    column="id"    />
        <result property="promotionId"    column="promotion_id"    />
        <result property="promotionSessionId"    column="promotion_session_id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="seckillPrice"    column="seckill_price"    />
        <result property="seckillCount"    column="seckill_count"    />
        <result property="seckillLimit"    column="seckill_limit"    />
        <result property="seckillSort"    column="seckill_sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAmsSeckillSkuRelationVo">
        select id, promotion_id, promotion_session_id, sku_id, seckill_price, seckill_count, seckill_limit, seckill_sort, create_by, update_by, create_time, update_time from ams_seckill_sku_relation
    </sql>

    <select id="selectAmsSeckillSkuRelationList" parameterType="AmsSeckillSkuRelation" resultMap="AmsSeckillSkuRelationResult">
        <include refid="selectAmsSeckillSkuRelationVo"/>
        <where>  
            <if test="promotionId != null "> and promotion_id = #{promotionId}</if>
            <if test="promotionSessionId != null "> and promotion_session_id = #{promotionSessionId}</if>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="seckillPrice != null "> and seckill_price = #{seckillPrice}</if>
            <if test="seckillCount != null "> and seckill_count = #{seckillCount}</if>
            <if test="seckillLimit != null "> and seckill_limit = #{seckillLimit}</if>
            <if test="seckillSort != null "> and seckill_sort = #{seckillSort}</if>
        </where>
    </select>
    
    <select id="selectAmsSeckillSkuRelationById" parameterType="Long" resultMap="AmsSeckillSkuRelationResult">
        <include refid="selectAmsSeckillSkuRelationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAmsSeckillSkuRelation" parameterType="AmsSeckillSkuRelation" useGeneratedKeys="true" keyProperty="id">
        insert into ams_seckill_sku_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="promotionId != null">promotion_id,</if>
            <if test="promotionSessionId != null">promotion_session_id,</if>
            <if test="skuId != null">sku_id,</if>
            <if test="seckillPrice != null">seckill_price,</if>
            <if test="seckillCount != null">seckill_count,</if>
            <if test="seckillLimit != null">seckill_limit,</if>
            <if test="seckillSort != null">seckill_sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="promotionId != null">#{promotionId},</if>
            <if test="promotionSessionId != null">#{promotionSessionId},</if>
            <if test="skuId != null">#{skuId},</if>
            <if test="seckillPrice != null">#{seckillPrice},</if>
            <if test="seckillCount != null">#{seckillCount},</if>
            <if test="seckillLimit != null">#{seckillLimit},</if>
            <if test="seckillSort != null">#{seckillSort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAmsSeckillSkuRelation" parameterType="AmsSeckillSkuRelation">
        update ams_seckill_sku_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="promotionId != null">promotion_id = #{promotionId},</if>
            <if test="promotionSessionId != null">promotion_session_id = #{promotionSessionId},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="seckillPrice != null">seckill_price = #{seckillPrice},</if>
            <if test="seckillCount != null">seckill_count = #{seckillCount},</if>
            <if test="seckillLimit != null">seckill_limit = #{seckillLimit},</if>
            <if test="seckillSort != null">seckill_sort = #{seckillSort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAmsSeckillSkuRelationById" parameterType="Long">
        delete from ams_seckill_sku_relation where id = #{id}
    </delete>

    <delete id="deleteAmsSeckillSkuRelationByIds" parameterType="String">
        delete from ams_seckill_sku_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>