<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsAttrGroupMapper">

    <resultMap type="PmsAttrGroup" id="PmsAttrGroupResult">
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="name" column="name"/>
        <result property="sort" column="sort"/>
        <result property="description" column="description"/>
        <result property="icon" column="icon"/>
        <result property="categoryId" column="category_id"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPmsAttrGroupVo">
        select attr_group_id,
               name,
               sort,
               'description',
               icon,
               category_id,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from pms_attr_group
    </sql>

    <select id="selectPmsAttrGroupList" parameterType="PmsAttrGroup" resultMap="PmsAttrGroupResult">
        select *
        from pms_attr_group
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="icon != null  and icon != ''">and icon = #{icon}</if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
        </where>
    </select>

    <select id="selectPmsAttrGroupByAttrGroupId" parameterType="Long" resultMap="PmsAttrGroupResult">
        <include refid="selectPmsAttrGroupVo"/>
        where attr_group_id = #{attrGroupId}
    </select>

    <insert id="insertPmsAttrGroup" parameterType="PmsAttrGroup" useGeneratedKeys="true" keyProperty="attrGroupId">
        insert into pms_attr_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="sort != null">sort,</if>
            <if test="description != null">description,</if>
            <if test="icon != null">icon,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="sort != null">#{sort},</if>
            <if test="description != null">#{description},</if>
            <if test="icon != null">#{icon},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePmsAttrGroup" parameterType="PmsAttrGroup">
        update pms_attr_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="description != null">description = #{description},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where attr_group_id = #{attrGroupId}
    </update>

    <delete id="deletePmsAttrGroupByAttrGroupId" parameterType="Long">
        delete
        from pms_attr_group
        where attr_group_id = #{attrGroupId}
    </delete>

    <delete id="deletePmsAttrGroupByAttrGroupIds" parameterType="String">
        delete from pms_attr_group where attr_group_id in
        <foreach item="attrGroupId" collection="array" open="(" separator="," close=")">
            #{attrGroupId}
        </foreach>
    </delete>
</mapper>