<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsAttrAttrGroupMapper">

    <resultMap type="PmsAttrAttrGroup" id="PmsAttrAttrGroupResult">
        <result property="id" column="id"/>
        <result property="attrId" column="attr_id"/>
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPmsAttrAttrGroupVo">
        select id,
               attr_id,
               attr_group_id,
               sort,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from pms_attr_attr_group
    </sql>

    <select id="selectPmsAttrAttrGroupList" parameterType="PmsAttrAttrGroup" resultMap="PmsAttrAttrGroupResult">
        <include refid="selectPmsAttrAttrGroupVo"/>
        <where>
            <if test="attrId != null ">and attr_id = #{attrId}</if>
            <if test="attrGroupId != null ">and attr_group_id = #{attrGroupId}</if>
            <if test="sort != null ">and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectPmsAttrAttrGroupById" parameterType="Long" resultMap="PmsAttrAttrGroupResult">
        <include refid="selectPmsAttrAttrGroupVo"/>
        where id = #{id}
    </select>

    <insert id="insertPmsAttrAttrGroup" parameterType="PmsAttrAttrGroup" useGeneratedKeys="true" keyProperty="id">
        insert into pms_attr_attr_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attrId != null">attr_id,</if>
            <if test="attrGroupId != null">attr_group_id,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attrId != null">#{attrId},</if>
            <if test="attrGroupId != null">#{attrGroupId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>


    <insert id="insertPmsAttrAttrGroups">
        insert into pms_attr_attr_group
        ( attr_id,
        attr_group_id,
        create_by,
        create_time,
        remark)
        values
        <foreach collection="pmsAttrAttrGroups" item="pmsAttrAttrGroup" separator="," open="(" close=")">
            #{pmsAttrAttrGroup.attrId},
            #{pmsAttrAttrGroup.attrGroupId},
            #{pmsAttrAttrGroup.createBy},
            #{pmsAttrAttrGroup.createTime},
            #{pmsAttrAttrGroup.remark}
        </foreach>

    </insert>

    <update id="updatePmsAttrAttrGroup" parameterType="PmsAttrAttrGroup">
        update pms_attr_attr_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="attrId != null">attr_id = #{attrId},</if>
            <if test="attrGroupId != null">attr_group_id = #{attrGroupId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePmsAttrAttrGroupById" parameterType="Long">
        delete
        from pms_attr_attr_group
        where attrId = #{id}
    </delete>

    <delete id="deletePmsAttrAttrGroupByIds" parameterType="String">
        delete from pms_attr_attr_group where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>