<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsBrandMapper">

    <resultMap type="PmsBrand" id="PmsBrandResult">
        <result property="brandId" column="brand_id"/>
        <result property="name" column="name"/>
        <result property="logo" column="logo"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="firstLetter" column="first_letter"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectPmsBrandVo">
        select brand_id,
               name,
               logo,
               description,
               status,
               first_letter,
               sort,
               create_by,
               create_time,
               update_by,
               update_time
        from pms_brand
    </sql>

    <select id="selectPmsBrandList" parameterType="PmsBrand" resultMap="PmsBrandResult">
        select *
        from pms_brand
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="logo != null  and logo != ''">and logo = #{logo}</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="firstLetter != null  and firstLetter != ''">and first_letter = #{firstLetter}</if>
            <if test="sort != null ">and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectPmsBrandByBrandId" parameterType="Long" resultMap="PmsBrandResult">
        <include refid="selectPmsBrandVo"/>
        where brand_id = #{brandId}
    </select>

    <insert id="insertPmsBrand" parameterType="PmsBrand" useGeneratedKeys="true" keyProperty="brandId">
        insert into pms_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="logo != null">logo,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="firstLetter != null">first_letter,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="logo != null">#{logo},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="firstLetter != null">#{firstLetter},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePmsBrand" parameterType="PmsBrand">
        update pms_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="firstLetter != null">first_letter = #{firstLetter},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where brand_id = #{brandId}
    </update>

    <delete id="deletePmsBrandByBrandId" parameterType="Long">
        delete
        from pms_brand
        where brand_id = #{brandId}
    </delete>

    <delete id="deletePmsBrandByBrandIds" parameterType="String">
        delete from pms_brand where brand_id in
        <foreach item="brandId" collection="array" open="(" separator="," close=")">
            #{brandId}
        </foreach>
    </delete>
</mapper>