<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsSkuAttrValueMapper">

    <resultMap type="PmsSkuAttrValue" id="PmsSkuAttrValueResult">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="attrId" column="attr_id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPmsSkuAttrValueVo">
        select id,
               sku_id,
               attr_id,
               name,
               value,
               sort,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from pms_sku_attr_value
    </sql>

    <select id="selectPmsSkuAttrValueList" parameterType="PmsSkuAttrValue" resultMap="PmsSkuAttrValueResult">
        <include refid="selectPmsSkuAttrValueVo"/>
        <where>
            <if test="skuId != null ">and sku_id = #{skuId}</if>
            <if test="attrId != null ">and attr_id = #{attrId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="value != null  and value != ''">and value = #{value}</if>
            <if test="sort != null ">and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectPmsSkuAttrValueById" parameterType="Long" resultMap="PmsSkuAttrValueResult">
        <include refid="selectPmsSkuAttrValueVo"/>
        where id = #{id}
    </select>

    <select id="selectListBySpuId" resultMap="PmsSkuAttrValueResult">
        SELECT
            sav.`attr_id`,
            sav.`name` ,
            sav.`value`,
            si.`sku_id`
        FROM
            `pms_sku_info` si
                LEFT JOIN `pms_sku_attr_value` sav ON sav.`sku_id` = si.`sku_id`
        WHERE
            si.`spu_id` = #{spuId}
    </select>

    <insert id="insertPmsSkuAttrValue" parameterType="PmsSkuAttrValue" useGeneratedKeys="true" keyProperty="id">
        insert into pms_sku_attr_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="attrId != null">attr_id,</if>
            <if test="name != null">name,</if>
            <if test="value != null">value,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="attrId != null">#{attrId},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePmsSkuAttrValue" parameterType="PmsSkuAttrValue">
        update pms_sku_attr_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="attrId != null">attr_id = #{attrId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="value != null">value = #{value},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePmsSkuAttrValueById" parameterType="Long">
        delete
        from pms_sku_attr_value
        where id = #{id}
    </delete>

    <delete id="deletePmsSkuAttrValueByIds" parameterType="String">
        delete from pms_sku_attr_value where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>