<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsSkuSaleAttrValueMapper">
    
    <resultMap type="PmsSkuSaleAttrValue" id="PmsSkuSaleAttrValueResult">
        <result property="id"    column="id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="attrId"    column="attr_id"    />
        <result property="attrName"    column="attr_name"    />
        <result property="attrValue"    column="attr_value"    />
        <result property="attrSort"    column="attr_sort"    />
    </resultMap>

    <sql id="selectPmsSkuSaleAttrValueVo">
        select id, sku_id, attr_id, attr_name, attr_value, attr_sort from pms_sku_sale_attr_value
    </sql>

    <select id="selectPmsSkuSaleAttrValueList" parameterType="PmsSkuSaleAttrValue" resultMap="PmsSkuSaleAttrValueResult">
        <include refid="selectPmsSkuSaleAttrValueVo"/>
        <where>  
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="attrId != null "> and attr_id = #{attrId}</if>
            <if test="attrName != null  and attrName != ''"> and attr_name like concat('%', #{attrName}, '%')</if>
            <if test="attrValue != null  and attrValue != ''"> and attr_value = #{attrValue}</if>
            <if test="attrSort != null "> and attr_sort = #{attrSort}</if>
        </where>
    </select>
    
    <select id="selectPmsSkuSaleAttrValueById" parameterType="Long" resultMap="PmsSkuSaleAttrValueResult">
        <include refid="selectPmsSkuSaleAttrValueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPmsSkuSaleAttrValue" parameterType="PmsSkuSaleAttrValue" useGeneratedKeys="true" keyProperty="id">
        insert into pms_sku_sale_attr_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="attrId != null">attr_id,</if>
            <if test="attrName != null">attr_name,</if>
            <if test="attrValue != null">attr_value,</if>
            <if test="attrSort != null">attr_sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="attrId != null">#{attrId},</if>
            <if test="attrName != null">#{attrName},</if>
            <if test="attrValue != null">#{attrValue},</if>
            <if test="attrSort != null">#{attrSort},</if>
         </trim>
    </insert>

    <update id="updatePmsSkuSaleAttrValue" parameterType="PmsSkuSaleAttrValue">
        update pms_sku_sale_attr_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="attrId != null">attr_id = #{attrId},</if>
            <if test="attrName != null">attr_name = #{attrName},</if>
            <if test="attrValue != null">attr_value = #{attrValue},</if>
            <if test="attrSort != null">attr_sort = #{attrSort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePmsSkuSaleAttrValueById" parameterType="Long">
        delete from pms_sku_sale_attr_value where id = #{id}
    </delete>

    <delete id="deletePmsSkuSaleAttrValueByIds" parameterType="String">
        delete from pms_sku_sale_attr_value where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>