<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsSkuImageMapper">

    <resultMap type="PmsSkuImage" id="PmsSkuImageResult">
        <result property="skuImageId" column="sku_image_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="url" column="url"/>
        <result property="sort" column="sort"/>
        <result property="defaultImage" column="default_image"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectPmsSkuImageVo">
        select sku_image_id,
               sku_id,
               url,
               sort,
               default_image,
               create_by,
               update_by,
               create_time,
               update_time
        from pms_sku_image
    </sql>


    <select id="selectPmsSkuImageList" parameterType="PmsSkuImage" resultMap="PmsSkuImageResult">
        <include refid="selectPmsSkuImageVo"/>
        <where>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="defaultImage != null "> and default_image = #{defaultImage}</if>
        </where>
    </select>

    <select id="selectPmsSkuImageBySkuImageId" parameterType="Long" resultMap="PmsSkuImageResult">
        <include refid="selectPmsSkuImageVo"/>
        where sku_image_id = #{skuImageId}
    </select>


    <insert id="insertPmsSkuImage" parameterType="PmsSkuImage" useGeneratedKeys="true" keyProperty="skuImageId">
        insert into pms_sku_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="url != null">url,</if>
            <if test="sort != null">sort,</if>
            <if test="defaultImage != null">default_image,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="url != null">#{url},</if>
            <if test="sort != null">#{sort},</if>
            <if test="defaultImage != null">#{defaultImage},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePmsSkuImage" parameterType="PmsSkuImage">
        update pms_sku_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="defaultImage != null">default_image = #{defaultImage},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where sku_image_id = #{skuImageId}
    </update>

    <delete id="deletePmsSkuImageBySkuImageId" parameterType="Long">
        delete from pms_sku_image where sku_image_id = #{skuImageId}
    </delete>

    <delete id="deletePmsSkuImageBySkuImageIds" parameterType="String">
        delete from pms_sku_image where sku_image_id in
        <foreach item="skuImageId" collection="array" open="(" separator="," close=")">
            #{skuImageId}
        </foreach>
    </delete>
</mapper>