<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsSkuInfoMapper">
    
    <resultMap type="PmsSkuInfo" id="PmsSkuInfoResult">
        <result property="skuId" column="sku_id"/>
        <result property="spuId" column="spu_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="categoryId" column="category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="defaultImg" column="default_img"/>
        <result property="title" column="title"/>
        <result property="subtitle" column="subtitle"/>
        <result property="price" column="price"/>
        <result property="saleCount" column="sale_count"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPmsSkuInfoVo">
        select sku_id,
               spu_id,
               name,
               description,
               category_id,
               brand_id,
               default_img,
               title,
               subtitle,
               price,
               sale_count,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from pms_sku_info
    </sql>

    <select id="selectPmsSkuInfoList" parameterType="PmsSkuInfo" resultMap="PmsSkuInfoResult">
        <include refid="selectPmsSkuInfoVo"/>
        <where>
            <if test="spuId != null ">and spu_id = #{spuId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
            <if test="brandId != null ">and brand_id = #{brandId}</if>
            <if test="defaultImg != null  and defaultImg != ''">and default_img = #{defaultImg}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="subtitle != null  and subtitle != ''">and subtitle = #{subtitle}</if>
            <if test="price != null ">and price = #{price}</if>
            <if test="saleCount != null ">and sale_count = #{saleCount}</if>
        </where>
    </select>
    
    <select id="selectPmsSkuInfoBySkuId" parameterType="Long" resultMap="PmsSkuInfoResult">
        <include refid="selectPmsSkuInfoVo"/>
        where sku_id = #{skuId}
    </select>
        
    <insert id="insertPmsSkuInfo" parameterType="PmsSkuInfo" useGeneratedKeys="true" keyProperty="skuId">
        insert into pms_sku_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="defaultImg != null">default_img,</if>
            <if test="title != null">title,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="price != null">price,</if>
            <if test="saleCount != null">sale_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="defaultImg != null">#{defaultImg},</if>
            <if test="title != null">#{title},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="price != null">#{price},</if>
            <if test="saleCount != null">#{saleCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePmsSkuInfo" parameterType="PmsSkuInfo">
        update pms_sku_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="defaultImg != null">default_img = #{defaultImg},</if>
            <if test="title != null">title = #{title},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="price != null">price = #{price},</if>
            <if test="saleCount != null">sale_count = #{saleCount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where sku_id = #{skuId}
    </update>

    <delete id="deletePmsSkuInfoBySkuId" parameterType="Long">
        delete from pms_sku_info where sku_id = #{skuId}
    </delete>

    <delete id="deletePmsSkuInfoBySkuIds" parameterType="String">
        delete from pms_sku_info where sku_id in 
        <foreach item="skuId" collection="array" open="(" separator="," close=")">
            #{skuId}
        </foreach>
    </delete>
</mapper>