<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.product.mapper.PmsSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qinweizhao.product.model.entity.PmsSpu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
        <result column="main_img_url" property="mainImgUrl" />
        <result column="img_urls" property="imgUrls" />
        <result column="detail" property="detail" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, category_id, brand_id, main_img_url, img_urls, detail, status, create_by, update_by, create_time, update_time
    </sql>

</mapper>
