<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.ware.mapper.WmsPurchaseMapper">

    <resultMap type="WmsPurchase" id="WmsPurchaseResult">
        <result property="id" column="id"/>
        <result property="assigneeId" column="assignee_id"/>
        <result property="assigneeName" column="assignee_name"/>
        <result property="phone" column="phone"/>
        <result property="priority" column="priority"/>
        <result property="status" column="status"/>
        <result property="wareId" column="ware_id"/>
        <result property="amount" column="amount"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWmsPurchaseVo">
        select id,
               assignee_id,
               assignee_name,
               phone,
               priority,
               status,
               ware_id,
               amount,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from wms_purchase
    </sql>

    <select id="selectWmsPurchaseList" parameterType="WmsPurchase" resultMap="WmsPurchaseResult">
        <include refid="selectWmsPurchaseVo"/>
        <where>
            <if test="assigneeId != null ">and assignee_id = #{assigneeId}</if>
            <if test="assigneeName != null  and assigneeName != ''">and assignee_name like concat('%', #{assigneeName},
                '%')
            </if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="priority != null ">and priority = #{priority}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="wareId != null ">and ware_id = #{wareId}</if>
            <if test="amount != null ">and amount = #{amount}</if>
        </where>
    </select>

    <select id="selectWmsPurchaseById" parameterType="Long" resultMap="WmsPurchaseResult">
        <include refid="selectWmsPurchaseVo"/>
        where id = #{id}
    </select>

    <insert id="insertWmsPurchase" parameterType="WmsPurchase" useGeneratedKeys="true" keyProperty="id">
        insert into wms_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assigneeId != null">assignee_id,</if>
            <if test="assigneeName != null">assignee_name,</if>
            <if test="phone != null">phone,</if>
            <if test="priority != null">priority,</if>
            <if test="status != null">status,</if>
            <if test="wareId != null">ware_id,</if>
            <if test="amount != null">amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assigneeId != null">#{assigneeId},</if>
            <if test="assigneeName != null">#{assigneeName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="priority != null">#{priority},</if>
            <if test="status != null">#{status},</if>
            <if test="wareId != null">#{wareId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWmsPurchase" parameterType="WmsPurchase">
        update wms_purchase
        <trim prefix="SET" suffixOverrides=",">
            <if test="assigneeId != null">assignee_id = #{assigneeId},</if>
            <if test="assigneeName != null">assignee_name = #{assigneeName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="status != null">status = #{status},</if>
            <if test="wareId != null">ware_id = #{wareId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsPurchaseById" parameterType="Long">
        delete
        from wms_purchase
        where id = #{id}
    </delete>

    <delete id="deleteWmsPurchaseByIds" parameterType="String">
        delete from wms_purchase where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>