<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.ware.mapper.WmsWareOrderTaskDetailMapper">

    <resultMap type="WmsWareOrderTaskDetail" id="WmsWareOrderTaskDetailResult">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="skuName" column="sku_name"/>
        <result property="skuNum" column="sku_num"/>
        <result property="taskId" column="task_id"/>
        <result property="wareId" column="ware_id"/>
        <result property="lockStatus" column="lock_status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWmsWareOrderTaskDetailVo">
        select id,
               sku_id,
               sku_name,
               sku_num,
               task_id,
               ware_id,
               lock_status,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from wms_ware_order_task_detail
    </sql>

    <select id="selectWmsWareOrderTaskDetailList" parameterType="WmsWareOrderTaskDetail"
            resultMap="WmsWareOrderTaskDetailResult">
        <include refid="selectWmsWareOrderTaskDetailVo"/>
        <where>
            <if test="skuId != null ">and sku_id = #{skuId}</if>
            <if test="skuName != null  and skuName != ''">and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="skuNum != null ">and sku_num = #{skuNum}</if>
            <if test="taskId != null ">and task_id = #{taskId}</if>
            <if test="wareId != null ">and ware_id = #{wareId}</if>
            <if test="lockStatus != null ">and lock_status = #{lockStatus}</if>
        </where>
    </select>

    <select id="selectWmsWareOrderTaskDetailById" parameterType="Long" resultMap="WmsWareOrderTaskDetailResult">
        <include refid="selectWmsWareOrderTaskDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertWmsWareOrderTaskDetail" parameterType="WmsWareOrderTaskDetail" useGeneratedKeys="true"
            keyProperty="id">
        insert into wms_ware_order_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="skuName != null">sku_name,</if>
            <if test="skuNum != null">sku_num,</if>
            <if test="taskId != null">task_id,</if>
            <if test="wareId != null">ware_id,</if>
            <if test="lockStatus != null">lock_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="skuName != null">#{skuName},</if>
            <if test="skuNum != null">#{skuNum},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="wareId != null">#{wareId},</if>
            <if test="lockStatus != null">#{lockStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWmsWareOrderTaskDetail" parameterType="WmsWareOrderTaskDetail">
        update wms_ware_order_task_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="skuNum != null">sku_num = #{skuNum},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="wareId != null">ware_id = #{wareId},</if>
            <if test="lockStatus != null">lock_status = #{lockStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsWareOrderTaskDetailById" parameterType="Long">
        delete
        from wms_ware_order_task_detail
        where id = #{id}
    </delete>

    <delete id="deleteWmsWareOrderTaskDetailByIds" parameterType="String">
        delete from wms_ware_order_task_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>