<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.ware.mapper.WmsWareInfoMapper">

    <resultMap type="WmsWareInfo" id="WmsWareInfoResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="areacode" column="areacode"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWmsWareInfoVo">
        select id,
               name,
               address,
               areacode,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from wms_ware_info
    </sql>

    <select id="selectWmsWareInfoList" parameterType="WmsWareInfo" resultMap="WmsWareInfoResult">
        <include refid="selectWmsWareInfoVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="areacode != null  and areacode != ''">and areacode = #{areacode}</if>
        </where>
    </select>

</mapper>