<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.ware.mapper.WmsWareSkuMapper">

    <resultMap type="WmsWareSku" id="WmsWareSkuResult">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="wareId" column="ware_id"/>
        <result property="stock" column="stock"/>
        <result property="skuName" column="sku_name"/>
        <result property="stockLocked" column="stock_locked"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectWmsWareSkuVo">
        select id,
               sku_id,
               ware_id,
               stock,
               sku_name,
               stock_locked,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from wms_ware_sku
    </sql>

    <select id="selectWmsWareSkuList" parameterType="WmsWareSku" resultMap="WmsWareSkuResult">
        <include refid="selectWmsWareSkuVo"/>
        <where>
            <if test="skuId != null ">and sku_id = #{skuId}</if>
            <if test="wareId != null ">and ware_id = #{wareId}</if>
            <if test="stock != null ">and stock = #{stock}</if>
            <if test="skuName != null  and skuName != ''">and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="stockLocked != null ">and stock_locked = #{stockLocked}</if>
        </where>
    </select>

    <select id="selectWmsWareSkuById" parameterType="Long" resultMap="WmsWareSkuResult">
        <include refid="selectWmsWareSkuVo"/>
        where id = #{id}
    </select>
    <select id="selectSkuStock" resultType="java.lang.Long">
        SELECT SUM(stock-stock_locked) FROM `wms_ware_sku` WHERE sku_id=#{skuId}
    </select>

    <insert id="insertWmsWareSku" parameterType="WmsWareSku" useGeneratedKeys="true" keyProperty="id">
        insert into wms_ware_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="wareId != null">ware_id,</if>
            <if test="stock != null">stock,</if>
            <if test="skuName != null">sku_name,</if>
            <if test="stockLocked != null">stock_locked,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="wareId != null">#{wareId},</if>
            <if test="stock != null">#{stock},</if>
            <if test="skuName != null">#{skuName},</if>
            <if test="stockLocked != null">#{stockLocked},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWmsWareSku" parameterType="WmsWareSku">
        update wms_ware_sku
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="wareId != null">ware_id = #{wareId},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="stockLocked != null">stock_locked = #{stockLocked},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsWareSkuById" parameterType="Long">
        delete
        from wms_ware_sku
        where id = #{id}
    </delete>

    <delete id="deleteWmsWareSkuByIds" parameterType="String">
        delete from wms_ware_sku where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>