<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsGrowthChangeHistoryMapper">

    <resultMap type="UmsGrowthChangeHistory" id="UmsGrowthChangeHistoryResult">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="createTime" column="create_time"/>
        <result property="changeCount" column="change_count"/>
        <result property="note" column="note"/>
        <result property="sourceType" column="source_type"/>
    </resultMap>

    <sql id="selectUmsGrowthChangeHistoryVo">
        select id, member_id, create_time, change_count, note, source_type
        from ums_growth_change_history
    </sql>

    <select id="selectUmsGrowthChangeHistoryList" parameterType="UmsGrowthChangeHistory"
            resultMap="UmsGrowthChangeHistoryResult">
        <include refid="selectUmsGrowthChangeHistoryVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="changeCount != null ">and change_count = #{changeCount}</if>
            <if test="note != null  and note != ''">and note = #{note}</if>
            <if test="sourceType != null ">and source_type = #{sourceType}</if>
        </where>
    </select>

</mapper>