<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsMemberLoginLogMapper">

    <resultMap type="UmsMemberLoginLog" id="UmsMemberLoginLogResult">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="ip" column="ip"/>
        <result property="city" column="city"/>
        <result property="loginType" column="login_type"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectUmsMemberLoginLogVo">
        select id,
               member_id,
               ip,
               city,
               login_type,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from ums_member_login_log
    </sql>

    <select id="selectUmsMemberLoginLogList" parameterType="UmsMemberLoginLog" resultMap="UmsMemberLoginLogResult">
        <include refid="selectUmsMemberLoginLogVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="ip != null  and ip != ''">and ip = #{ip}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="loginType != null ">and login_type = #{loginType}</if>
        </where>
    </select>

</mapper>