<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsMemberStatisticsInfoMapper">

    <resultMap type="UmsMemberStatisticsInfo" id="UmsMemberStatisticsInfoResult">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="consumeAmount" column="consume_amount"/>
        <result property="couponAmount" column="coupon_amount"/>
        <result property="orderCount" column="order_count"/>
        <result property="couponCount" column="coupon_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="returnOrderCount" column="return_order_count"/>
        <result property="loginCount" column="login_count"/>
        <result property="attendCount" column="attend_count"/>
        <result property="fansCount" column="fans_count"/>
        <result property="collectProductCount" column="collect_product_count"/>
        <result property="collectSubjectCount" column="collect_subject_count"/>
        <result property="collectCommentCount" column="collect_comment_count"/>
        <result property="inviteFriendCount" column="invite_friend_count"/>
    </resultMap>

    <sql id="selectUmsMemberStatisticsInfoVo">
        select id,
               member_id,
               consume_amount,
               coupon_amount,
               order_count,
               coupon_count,
               comment_count,
               return_order_count,
               login_count,
               attend_count,
               fans_count,
               collect_product_count,
               collect_subject_count,
               collect_comment_count,
               invite_friend_count
        from ums_member_statistics_info
    </sql>

    <select id="selectUmsMemberStatisticsInfoList" parameterType="UmsMemberStatisticsInfo"
            resultMap="UmsMemberStatisticsInfoResult">
        <include refid="selectUmsMemberStatisticsInfoVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="consumeAmount != null ">and consume_amount = #{consumeAmount}</if>
            <if test="couponAmount != null ">and coupon_amount = #{couponAmount}</if>
            <if test="orderCount != null ">and order_count = #{orderCount}</if>
            <if test="couponCount != null ">and coupon_count = #{couponCount}</if>
            <if test="commentCount != null ">and comment_count = #{commentCount}</if>
            <if test="returnOrderCount != null ">and return_order_count = #{returnOrderCount}</if>
            <if test="loginCount != null ">and login_count = #{loginCount}</if>
            <if test="attendCount != null ">and attend_count = #{attendCount}</if>
            <if test="fansCount != null ">and fans_count = #{fansCount}</if>
            <if test="collectProductCount != null ">and collect_product_count = #{collectProductCount}</if>
            <if test="collectSubjectCount != null ">and collect_subject_count = #{collectSubjectCount}</if>
            <if test="collectCommentCount != null ">and collect_comment_count = #{collectCommentCount}</if>
            <if test="inviteFriendCount != null ">and invite_friend_count = #{inviteFriendCount}</if>
        </where>
    </select>

</mapper>