<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsMemberReceiveAddressMapper">

    <resultMap type="UmsMemberReceiveAddress" id="UmsMemberReceiveAddressResult">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="postCode" column="post_code"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="region" column="region"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="areacode" column="areacode"/>
        <result property="defaultStatus" column="default_status"/>
    </resultMap>

    <sql id="selectUmsMemberReceiveAddressVo">
        select id,
               member_id,
               name,
               phone,
               post_code,
               province,
               city,
               region,
               detail_address,
               areacode,
               default_status
        from ums_member_receive_address
    </sql>

    <select id="selectUmsMemberReceiveAddressList" parameterType="UmsMemberReceiveAddress"
            resultMap="UmsMemberReceiveAddressResult">
        <include refid="selectUmsMemberReceiveAddressVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="postCode != null  and postCode != ''">and post_code = #{postCode}</if>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="region != null  and region != ''">and region = #{region}</if>
            <if test="detailAddress != null  and detailAddress != ''">and detail_address = #{detailAddress}</if>
            <if test="areacode != null  and areacode != ''">and areacode = #{areacode}</if>
            <if test="defaultStatus != null ">and default_status = #{defaultStatus}</if>
        </where>
    </select>


</mapper>