<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsMemberLevelMapper">

    <resultMap type="com.qinweizhao.user.entity.UmsMemberLevel" id="UmsMemberLevelResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="growthPoint" column="growth_point"/>
        <result property="defaultStatus" column="default_status"/>
        <result property="freeFreightPoint" column="free_freight_point"/>
        <result property="commentGrowthPoint" column="comment_growth_point"/>
        <result property="priviledgeFreeFreight" column="priviledge_free_freight"/>
        <result property="priviledgeMemberPrice" column="priviledge_member_price"/>
        <result property="priviledgeBirthday" column="priviledge_birthday"/>
        <result property="note" column="note"/>
    </resultMap>

    <sql id="selectUmsMemberLevelVo">
        select id,
               name,
               growth_point,
               default_status,
               free_freight_point,
               comment_growth_point,
               priviledge_free_freight,
               priviledge_member_price,
               priviledge_birthday,
               note
        from ums_member_level
    </sql>

    <select id="selectUmsMemberLevelList" parameterType="com.qinweizhao.user.entity.UmsMemberLevel"
            resultMap="UmsMemberLevelResult">
        <include refid="selectUmsMemberLevelVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="growthPoint != null ">and growth_point = #{growthPoint}</if>
            <if test="defaultStatus != null ">and default_status = #{defaultStatus}</if>
            <if test="freeFreightPoint != null ">and free_freight_point = #{freeFreightPoint}</if>
            <if test="commentGrowthPoint != null ">and comment_growth_point = #{commentGrowthPoint}</if>
            <if test="priviledgeFreeFreight != null ">and priviledge_free_freight = #{priviledgeFreeFreight}</if>
            <if test="priviledgeMemberPrice != null ">and priviledge_member_price = #{priviledgeMemberPrice}</if>
            <if test="priviledgeBirthday != null ">and priviledge_birthday = #{priviledgeBirthday}</if>
            <if test="note != null  and note != ''">and note = #{note}</if>
        </where>
    </select>

</mapper>