<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsCollectSpuMapper">

    <resultMap type="UmsCollectSpu" id="UmsCollectSpuResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="spuId" column="spu_id"/>
        <result property="spuName" column="spu_name"/>
        <result property="spuImg" column="spu_img"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectUmsCollectSpuVo">
        select id,
               user_id,
               spu_id,
               spu_name,
               spu_img,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from ums_member_collect_spu
    </sql>

    <select id="selectUmsCollectSpuList" parameterType="UmsCollectSpu"
            resultMap="UmsCollectSpuResult">
        <include refid="selectUmsCollectSpuVo"/>
        <where>
            <if test="memberId != null ">and user_id = #{memberId}</if>
            <if test="spuId != null ">and spu_id = #{spuId}</if>
            <if test="spuName != null  and spuName != ''">and spu_name like concat('%', #{spuName}, '%')</if>
            <if test="spuImg != null  and spuImg != ''">and spu_img = #{spuImg}</if>
        </where>
    </select>

</mapper>