<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsIntegrationChangeHistoryMapper">

    <resultMap type="UmsIntegrationChangeHistory" id="UmsIntegrationChangeHistoryResult">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="changeCount" column="change_count"/>
        <result property="sourceType" column="source_type"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectUmsIntegrationChangeHistoryVo">
        select id,
               member_id,
               change_count,
               source_type,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from ums_integration_change_history
    </sql>

    <select id="selectUmsIntegrationChangeHistoryList" parameterType="UmsIntegrationChangeHistory"
            resultMap="UmsIntegrationChangeHistoryResult">
        <include refid="selectUmsIntegrationChangeHistoryVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="changeCount != null ">and change_count = #{changeCount}</if>
            <if test="sourceType != null ">and source_type = #{sourceType}</if>
        </where>
    </select>

</mapper>