<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.user.mapper.UmsMemberCollectSubjectMapper">

    <resultMap type="UmsMemberCollectSubject" id="UmsMemberCollectSubjectResult">
        <result property="id" column="id"/>
        <result property="subjectId" column="subject_id"/>
        <result property="subjectName" column="subject_name"/>
        <result property="subjectImg" column="subject_img"/>
        <result property="subjectUrl" column="subject_url"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectUmsMemberCollectSubjectVo">
        select id,
               subject_id,
               subject_name,
               subject_img,
               subject_url,
               create_by,
               update_by,
               create_time,
               update_time,
               remark
        from ums_member_collect_subject
    </sql>

    <select id="selectUmsMemberCollectSubjectList" parameterType="UmsMemberCollectSubject"
            resultMap="UmsMemberCollectSubjectResult">
        <include refid="selectUmsMemberCollectSubjectVo"/>
        <where>
            <if test="subjectId != null ">and subject_id = #{subjectId}</if>
            <if test="subjectName != null  and subjectName != ''">and subject_name like concat('%', #{subjectName},
                '%')
            </if>
            <if test="subjectImg != null  and subjectImg != ''">and subject_img = #{subjectImg}</if>
            <if test="subjectUrl != null  and subjectUrl != ''">and subject_url = #{subjectUrl}</if>
        </where>
    </select>

</mapper>